<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <connectionStrings>  
      <clear />  
      <add name="Test"
       providerName="System.Data.SqlClient"
       connectionString="Server=ASPLAPLTM049\SQLEXPRESS;Database=Louigis;User Id=josehz;Password=C9b2a317e8;" />  
    </connectionStrings> 
</configuration>